@use "../tools/variables" as *;
@use "../tools/mixins" as *;
@use "../tools/responsive" as *;

form {
    @include display-flex(center, flex-end);
}

.search--input {
    width: 80%;
    padding: 0.5rem 01rem;
    border: none;
    border-bottom: 02px solid $color-title;
    color: $color-placeholder;
    font-family: "Montserrat-Regular";
    font-size: $text-body;
    font-weight: 400;
    transition: all 0.3s ease;

    &:focus {
        width: auto;
        border-bottom: none;
    }
}

.search--button {
    background-color: transparent;
    border: none;

    &:hover {
        cursor: pointer;
    }

    &-icon {
        width: 2.5rem;
        height: auto;
        padding: 01rem 0.5rem;
        outline: 0;
    }
}

::placeholder {
    color: $color-placeholder;
    font-family: "Montserrat-Regular";
    font-size: $text-tag;
    font-weight: 400;
}

.search--box {
    width: 15%;
    display: none;
    margin-left: auto;

    @include mobile {
        display: block;
    }

    @include laptop {
        width: 15%;
        margin-left: unset;
    }
}

.search--box-mobile {
    @include display-flex(center, space-between);
    width: 100%;
    position: absolute;
    top: 06rem;
    left: 0;
    padding: 01rem 8.33%;
    transform: translateY(-250%);
    transition: all 0.3s ease;
    z-index: -1;

    &[data-visible="true"] {
        transform: translateY(0%);
    }

    @include mobile {
        display: none;
    }

    .form-mobile {
        width: 100%;
    }

    .search--input {
        width: 100%;
        border-bottom: none;
    }
}
