@use "../tools/variables" as *;
@use "../tools/mixins" as *;
@use "../tools/responsive" as *;
@use "../global" as *;

.footer {
    width: 100%;

    a:hover {
        outline-color: $color-primary-dk;
        outline-style: solid;
        outline-width: medium;
    }

    &--information {
        padding: 5rem 8.33%;
        background-color: $color-surface-dk;

        @include laptop {
            padding: 15rem 8.33% 20rem;
        }

        p,
        li {
            color: $color-primary-dk;
            font-family: "Miller-Display";
            font-size: $text-tag;
            line-height: 3;
        }

        &-logo {
            @include logo(0, transparent, $color-text-lg);
        }

        .container--flex {
            margin-top: 02rem;

            @include laptop {
                @include display-flex(flex-start, space-between);
                flex-direction: row;
                height: 12rem;
            }

            & div {
                flex: 1;

                &:not(:last-child) {
                    margin-bottom: 05rem;
                }

                @include laptop {
                    &:not(:last-child) {
                        margin-bottom: unset;
                        margin-right: 05rem;
                    }
                }
            }
        }

        &-sitemap {
            columns: 2;
        }

        &-contact {
            .social-media-contact {
                .icon {
                    width: 1.6rem;
                    height: 1.6rem;
                    margin-right: 0.5rem;
                }

                .text-tag {
                    @include tags($color-primary-dk, Regular);
                    line-height: 3;
                }
            }
        }
    }

    &--copyrights {
        @include display-flex(center, space-between);
        width: 100%;
        height: 6rem;
        padding: 1.6rem 8.33%;
        background-color: $color-gray-dk;

        p {
            font-family: "Miller-Display";
            font-size: $text-tag;
            color: $color-primary-dk;
            line-height: 0;
        }
    }
}
