@use "../tools/variables" as *;
@use "../global/global" as *;
@use "../tools/mixins" as *;
@use "../tools/responsive" as *;

.header {
    @include display-flex(center, space-between);
    width: 100%;
    height: 6rem;
    padding-right: 8.33%;
    background-color: $color-background;
    position: relative;
    z-index: 2;

    &--logo {
        @include logo(0 3rem, $color-primary, $color-text-lg);
        @include display-flex(center, "");
    }

    &--navigation {
        display: none;

        @include laptop {
            display: block;
        }

        ul {
            display: inline-flex;

            li {
                a {
                    @include display-flex(center, "");
                    height: 5rem;
                    padding: 0 2.5rem;
                    font-family: "Montserrat-Regular";
                    font-size: $text-tag;

                    &:hover,
                    &:focus {
                        background-color: $color-primary;
                        color: $color-text-lg;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .button--search {
        margin-left: auto;

        @include mobile {
            display: none;
        }
    }

    .button--menu {
        @include laptop {
            display: none;
        }
    }
}
