@use "../tools/mixins" as *;
@use "../tools/variables" as *;
@use "../tools/responsive" as *;

// Discover - Instagram
.discover {
    width: 100%;
    margin: 04rem 0;

    @include laptop {
        @include display-flex(center, center);
        height: calc(100vh - 8rem);
    }

    .social--link {
        visibility: hidden;
        margin-inline: auto;
        padding: 01rem 03rem;
        background-color: transparent;
        border: 01px solid $color-text-lg;
        color: $color-text-lg;
        font-family: "Miller-Display";
        font-size: $text-body;
        text-decoration: none;
    }

    .img--container {
        flex: 1;
        height: 100%;

        &.highlight {
            @include display-flex(center, center);
            position: relative;

            .overlay {
                @include overlay($opacity);
            }

            &:hover {
                cursor: pointer;

                .social--link {
                    visibility: visible;
                }
            }
        }

        &.collection {
            display: flex;
            flex-wrap: wrap;

            .square {
                @include display-flex(center, center);
                width: 50%;
                height: 50%;
                position: relative;

                .overlay-hidden {
                    @include overlay($opacity);
                    visibility: hidden;
                }

                .link--container {
                    position: absolute;
                    text-align: center;
                }

                &:hover {
                    .overlay-hidden {
                        visibility: visible;
                    }
                    .social--link {
                        visibility: visible;
                    }
                }
            }
        }

        &-text {
            width: 85%;
            position: absolute;
            text-align: center;
            color: $color-text-lg;

            h2 {
                margin-inline: auto;
                margin-bottom: 02rem;
            }

            p {
                @include tags($color-text-lg, Bold);
                margin-bottom: 03rem;
            }
        }
    }
}
