@use "../tools/mixins" as *;
@use "../tools/variables" as *;
@use "../tools/responsive" as *;

.history {
    width: 100%;
    padding: 04rem;

    @include laptop {
        margin: 04rem 0;
    }

    h2 {
        margin-bottom: 05rem;
    }

    .history--container-content {
        @include laptop {
            @include display-flex(flex-start, flex-start);
        }
    }

    &--content {
        flex: 1;

        &.first {
            p {
                margin-bottom: 02rem;
                @include laptop {
                    width: 40ch;
                    margin-bottom: unset;
                }
            }
        }

        &.second {
            @include display-flex("", flex-end);
            flex-direction: column;
        }
    }
}
