@use "../tools/mixins" as *;
@use "../tools/variables" as *;
@use "../tools/responsive" as *;

.press {
    width: 100%;
    margin: 08rem 0;
    padding-inline: 04rem;

    @include laptop {
        @include display-flex(center, start);
        height: calc(100vh - 8rem);
    }

    &--container-content {
        height: 100%;
        height: 100%;

        @include laptop {
            flex: 01;
        }

        h2 {
            margin-bottom: 05rem;
        }

        p {
            margin-bottom: 02rem;

            @include laptop {
                width: 34ch;
            }
        }

        &.slider {
            position: relative;
            margin-top: 04rem;
            background-color: $color-surface-lg;

            @include laptop {
                margin-top: unset;
            }

            .slider--container {
                padding: 04rem;

                @include laptop {
                    width: 750px;
                    height: 300px;
                    position: absolute;
                    top: 20rem;
                    right: 04rem;
                    padding: unset;
                }

                // inside it goes the glide js

                .glide--container-content {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: row;

                    .glide--content {
                        width: 50%;
                        height: 100%;

                        &.content-img {
                            margin-right: 03rem;
                            border-left: 05px solid #000000;
                        }

                        &.content-text {
                            .content--label {
                                @include tags($color-title, Bold);
                                margin-bottom: 0;
                            }

                            .content--date {
                                @include tags($color-primary, Bold);
                                // margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
