@use "../tools/mixins" as *;
@use "../tools/variables" as *;
@use "../tools/responsive" as *;

.collections {
    width: 100%;
    padding-inline: 04rem;

    @include laptop {
        @include display-flex(flex-start, center);
        height: calc(100vh - 8rem);
    }

    .collection--content {
        flex: 1;
        margin-bottom: 04rem;

        @include laptop {
            margin-bottom: unset;
        }

        &.collection-text {
            @include display-flex(center, space-between);
            height: 100%;
            flex-direction: column;

            padding: 05rem 0;
            text-align: center;

            .section--tag {
                @include tags($color-title, Bold);
            }

            h3 {
                width: 15ch;
            }

            p {
                width: 40ch;
                margin-bottom: 03rem;
            }
        }

        &.collection-img {
            height: 100%;
        }
    }
}
