@use "../tools/variables" as *;
@use "../tools/mixins" as *;
@use "../tools/responsive" as *;

// Required Core Stylesheet import for Glide
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";

// Font import
@font-face {
  font-family: "Merriweather-Regular";
  src: local("Merriweather-Regular");
  src: url("../fonts/Merriweather-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Miller-Display";
  src: local("Miller-Display");
  src: url("../fonts/Miller-Display_30501.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: local("Montserrat-Bold");
  src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Regular";
  src: local("Montserrat-Regular");
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
}

// Global components/tags
html {
  font-size: 62.5%;
  overflow: auto;
  scroll-behavior: smooth;
}

a {
  @include display-flex(center, "");
  width: fit-content;
  color: inherit;
  text-decoration: none;
}

a:focus,
button:focus,
input:focus {
  outline-color: $color-primary-dk;
  outline-style: solid;
  outline-width: medium;
}

h1 {
  @include font-setup($color-text-lg, Miller-Display, $text-display);
}

h2 {
  @include font-setup($color-title, Miller-Display, $text-headline);
}

h3 {
  @include font-setup($color-title, Miller-Display, $text-title);
  margin: 03rem 0;
}

h4 {
  @include font-setup($color-title, Miller-Display, $text-subtitle);
}

h5 {
  @include font-setup($color-text-lg, Miller-Display, $text-body);
}

li {
  list-style-type: none;
  letter-spacing: normal;
}

// Global classes
.body--text {
  color: $color-body-text;
  font-family: "Merriweather-Regular";
  font-size: $text-body;
  letter-spacing: 0.05rem;
  line-height: 2;
}

.button--icon {
  display: block;
  width: 3.5rem;
  height: 3.5rem;
  padding: 0 0.5rem;
  background-color: transparent;
  border: none;

  &:hover {
    cursor: pointer;
    outline-color: $color-primary-dk;
    outline-style: solid;
    outline-width: medium;
  }

  &-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.full-heigth {
  height: 100%;
}

.headline-lg {
  @include font-setup($color-text-lg, Miller-Display, $text-headline);
}

.image-fit {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.line-break::after {
  content: "\a";
  white-space: pre;
}

.link {
  display: block;
  width: 20rem;
  padding: 01rem 03rem;
  background-color: transparent;
  border: 01px solid $color-primary;
  color: $color-primary;
  font-family: "Miller-Display";
  font-size: $text-body;
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: $color-primary-dk;
    color: $color-text-lg;
  }
}

// Accessibility classes
.hide {
  display: none;
}

.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.skip-content-link {
  position: absolute;
  top: 0.5rem;
  left: 02rem;
  padding: 01rem 03rem;
  background: #ffffff;
  border: 01px solid $color-primary-dk;
  color: $color-primary;
  transform: translateY(-150%);
  font-size: $text-body;
  box-shadow: $box-shadow;
  transition: transform 0.3s;
  z-index: 10;
}

.skip-content-link:focus {
  transform: translateY(0%);
}
