@use "../tools/variables" as *;

@font-face {
  font-family: "Merriweather-Regular";
  src: local("Merriweather-Regular");
  src: url("../fonts/Merriweather-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Miller-Display";
  src: local("Miller-Display");
  src: url("../fonts/Miller-Display_30501.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: local("Montserrat-Bold");
  src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Regular";
  src: local("Montserrat-Regular");
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
}

html {
  font-size: 62.5%;
  overflow: auto;
  scroll-behavior: smooth;
}

a:focus,
button:focus,
input:focus {
  outline-color: $color-primary-dk;
  outline-style: solid;
  outline-width: medium;
}

h1 {
  font-family: "Miller-Display";
  font-size: $text-display;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h2 {
  font-family: "Miller-Display";
  font-size: $text-headline;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h3 {
  font-family: "Miller-Display";
  font-size: $text-title;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 03rem 0;
}

li {
  list-style-type: none;
  letter-spacing: 1;
}

.body--text {
  color: $color-body-text;
  font-family: "Merriweather-Regular";
  font-size: $text-body;
  letter-spacing: 0.05rem;
  line-height: 2;
}

.link {
  display: block;
  width: 20rem;
  padding: 01rem 03rem;
  background-color: transparent;
  border: 01px solid $color-primary;
  color: $color-primary;
  font-family: "Miller-Display";
  font-size: $text-body;
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: $color-primary-dk;
    color: $color-text-lg;
  }
}

.social--link {
  visibility: hidden;
  padding: 01rem 03rem;
  background-color: transparent;
  border: 01px solid $color-text-lg;
  color: $color-text-lg;
  font-family: "Miller-Display";
  font-size: $text-body;
  text-decoration: none;
}

// Accessibility classes
.hide {
  display: none;
}

.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.skip-content-link {
  position: absolute;
  top: 0.5rem;
  left: 02rem;
  padding: 01rem 03rem;
  background: #ffffff;
  border: 01px solid $color-primary-dk;
  color: $color-primary;
  transform: translateY(-150%);
  font-size: $text-body;
  box-shadow: $box-shadow;
  transition: transform 0.3s;
}

.skip-content-link:focus {
  transform: translateY(0%);
}
