// Queries following mobile first

$mobile: 600px;
@mixin mobile {
  @media (min-width: #{$mobile}) {
    @content;
  }
}

// TABLET
$tablet: 768px;
@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}

// LAPTOP
$laptop: 1200px;
@mixin laptop {
  @media (min-width: #{$laptop}) {
    @content;
  }
}

// DESKTOP
$desktop: 1440px;
@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}
