// containers display
@mixin display-flex {
  display: flex;
  align-items: center;
}

@mixin display-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin display-flex-spaceBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// transitions
@mixin transitions {
  transition: all 0.5s ease-in-out;
}

@mixin logo($padding, $bg-color, $color, $size) {
  padding: #{$padding};
  background-color: #{$bg-color};
  color: #{$color};
  font-family: "Montserrat-Bold";
  font-size: #{$size};
  font-weight: 400;
}
